<html>
    <head>

        <!-- Followuply code -->
        <script type="text/javascript">


            __followuplyopts = {
                email: "kurac@palac.com",
                cid: 12345
            };
        </script>

        {#<script type="text/javascript" src="{{ app.asset_path }}/js/client-js/jquery-1.11.3.js"></script>#}
        {#<script type="text/javascript" src="{{ app.asset_path }}/js/client-js/client.js"></script>#}

        <script type="text/javascript" src="{{ app.asset_path }}/js/client-js/build/all.js"></script>
        <!-- End of followuply code -->

    </head>
    <body>
        Event will be sent now ...
    </body>
</html>