<html>
    <head>

        <!-- Followuply code -->
        <script type="text/javascript">
            __followuplyopts = {
                email: "happy@prospect.com"
            };
        </script>

        <script type="text/javascript" src="http://cdn.followuply.com/js/followuply.js"></script>
        <!-- End of followuply code -->

    </head>
    <body>
        Event will be sent now ...

        <a href="/b">Go to B</a>
    </body>
</html>