<html>
    <head>
        <!-- Followuply code -->
        <script type="text/javascript">
            __followuplyopts = {
                email: "happy@prospect.com"
            };
        </script>

        <script type="text/javascript" src="/followuply-js/client.js"></script>
        <!-- End of followuply code -->
    </head>
    <body>
        You are on B page :)
    </body>
</html>